html *
{font-family: 'Times New Roman', Times, serif !important;}

.proj_title{
    background-color:rgba(240, 255, 255, 0.80);
    padding-left: 3rem;
    padding-top: 3rem;
    margin-left: 12rem; 
    margin-top: 5rem;
    margin-bottom: 0;
    font-size: 30px;
}

.proj_desc{
    background-color: rgba(240, 255, 255, 0.80);
    padding-left: 3rem;
    margin-left: 12rem; 
    padding-bottom: 3rem;
    font-size: 20px;
    color: rgb(97, 95, 95);
}

.cuadroL{
    height: 500px;
    background-size: cover;
    padding-right: 0;
    margin: 10rem;
    
    background-repeat: no-repeat;
}

.cuadroR{
    height: 500px;
    background-size: cover;
    padding-right: 0;
    margin: 10rem; 
    background-repeat: no-repeat;
}

.info_btn{
    position: relative;
    left: 300px;
    font-size: 20px;
}